RewriteEngine On


# Redirect to public/index.php if the file or directory does not exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/index.php [L]
# RewriteRule ^(.*)$ public/index.php [QSA,L]

# Secure the .htaccess file
<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>
